server:
  port: 8082

spring:
  application:
    name: file-service-s3

  datasource:
    url: jdbc:postgresql://localhost:5432/file_service
    username: postgres
    password: qwer1234
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      idle-timeout: 30000
      max-lifetime: 1800000
      connection-timeout: 20000
      leak-detection-threshold: 2000

# jdbc.batch_size: 20 - для выполнения запросов пачками а не по одному
  jpa:
    hibernate:
      ddl-auto: update # Для разработки; потом заменить на validate/liquibase/flyway
    show-sql: true # вывод sql запросов в лог -> перенести в дебаг
    properties:
      hibernate:
        format_sql: true  # форматирование sql запросов в лог -> перенести в дебаг
    open-in-view: false # По умолчанию Spring Boot держит Hibernate сессию открытой на весь HTTP-запрос (true). Установив false, Hibernate-сессия закрывается после выполнения сервисного метода, и все lazy-загрузки должны выполняться внутри транзакции.

storage:
  type: s3
  s3:
    endpoint: http://localhost:9000       # MinIO endpoint
    region: ru-central1-a
    access-key: root
    secret-key: password
    bucket: files
    path-style-access: true                # Обязательно для MinIO и Yandex

# Логирование
#logging:
#  level:
#    com.example.fileservice: DEBUG
#    org.hibernate.SQL: DEBUG
#    org.hibernate.type.descriptor.sql: TRACE
#    org.springframework.orm.jpa: DEBUG
#    org.springframework.transaction: DEBUG
